<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="wrapper">
    <div id="postsContainer" *ngFor="let post of posts">
      <div class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
        <button class="comments-btn" (click)="onCommentsButtonClick(post.id)">Show Comments</button>
      </div>
    </div>
  </div>
  <div id="modalContainer" [style.display]="modalVisible ? 'block' : 'none'">
    <div id="modalContent">
      <span id="closeModal" (click)="onCloseModalClick()">&times;</span>
      <div id="commentsContainer">
        <div *ngFor="let comment of comments">
          <h4>{{ comment.name }}</h4>
          <p>{{ comment.email }}</p>
          <p>{{ comment.body }}</p>
        </div>
      </div>
    </div>
  </div>
  <script src="app.component.ts"></script>
</body>
</html>